<section class="container-fluid">
  <%= live_component @socket, RushingStatisticsWeb.SearchComponent, search: @query, id: :search %>
  <div class="btn btn-primary">
    <%= live_patch "Download CSV", to: Routes.page_path(@socket, :index, %{download: [1, 2, 3]}) %>
  </div>
  <%=
    live_component @socket,
    RushingStatisticsWeb.TableComponent,
    search: @query,
    columns: @columns,
    rushing_statistics: @rushing_statistics,
    id: :table
  %>
</section>
